@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif !important;
    overflow-x: hidden;
}

#Head {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: .5rem
}

#description {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.Pre-head {
    background: linear-gradient(to right, rgba(253,137,215,1) 0%, rgba(252,236,252,1) 0%, rgba(251,166,225,1) 0%, rgba(125,167,214,1) 16%, rgba(125,167,214,1) 85%, rgba(116,153,204,1) 100%);
}

.pre-class {
    list-style-type: none;
    color: #fff;
}

.pre-class li p {
    font-size: 22px;
    font-weight: 200;
}

div.footer-info p {
    color: #a6a6a6;
}

div.footer-info p a {
    text-decoration: none;
    color:  #323ca8;
}

footer.footer {
    margin-top: 69px;
}

/** Media queries **/
@media (min-width: 992px) {

    #description {
        margin-left: 339px;
    }

    #brand {
        margin-right: 291px;
    }
}

@media (min-width: 0px) and (max-width: 556px) {
    
    #Head {
        background: rgba(125,167,214,1) !important;
    }
    
    #Head {
        text-align: center;
        display: block !important;
    }
}